.cell {
    height: 90px;
    width: 100px;
    border: 8px solid navy;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 0 2px;
    line-height: 25px;
    margin: auto;
    cursor: pointer;
}

#cellGrid {
    display: grid;
    grid-template-columns: repeat(7, auto);
    background-color: blue;
    width: 850px;
    height: 750px;
    margin: auto;
    justify-content: center;
}