body {
    background-image: url(https://images.unsplash.com/photo-1506968430777-bf7784a87f23?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d29vZCUyMHRhYmxlfGVufDB8fDB8fA%3D%3D&w=1000&q=80);
    font-family: 'Silkscreen', cursive;
}

h1 {
    text-align: center;
    color: yellow;
    text-shadow: 2px 2px black;
}

.gameTable {
    background-color: blue;
    opacity: .9;
    width: 800px;
    height: 700px;
    margin-left: 30%;
    border: 8px solid navy;
    border-bottom: 8px solid yellow;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    height: 75px;
    width: 85px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 0 2px;
    line-height: 25px;
    margin: 10px;
    cursor: pointer;
}

.player-one {
    background-color: red;
    border-radius: 50px;
}

.player-two {
    background-color: black;
    border-radius: 50px;
}
h3 {
    font-size: 20px;
    color: yellow;
    text-shadow: 2px 2px black;
    position: relative;
    bottom: 350px;
    
}

h4 {
    color: white;
    text-shadow: 1px 1px black;
    font-size: 18px;
    position: relative;
    bottom: 340px;
}

#redWins {
    position: left;
    color: red;
}

#blackWins {
    color: white;
    text-shadow: 2px 2px black;
}


#newGameBtn {
    font-family: 'Silkscreen', cursive;
    text-align: center;
    position: absolute;
    top: 42vh;
    background-color: blue;
    opacity: .7;
    color: yellow;
    cursor: pointer;
    height: 80px;
    width: 120px;
}